.admin-breadcrumb {
  padding: 0;
  margin: 0;
  list-style: none;
  @include clearfix;
}

.admin-breadcrumb-item {
  float: left;

  + .admin-breadcrumb-item::before {
    display: inline-block; // Suppress underlining of the separator in modern browsers
    padding-right: 0.2rem;
    padding-left: 0.5rem;
    color: $admin-font-color;
    content: "/";
  }

  // IE9-11 hack to properly handle hyperlink underlines for breadcrumbs built
  // without `<ul>`s. The `::before` pseudo-element generates an element
  // *within* the .breadcrumb-item and thereby inherits the `text-decoration`.
  //
  // To trick IE into suppressing the underline, we give the pseudo-element an
  // underline and then immediately remove it.
  + .admin-breadcrumb-item:hover::before {
    text-decoration: underline;
  }
  + .admin-breadcrumb-item:hover::before {
    text-decoration: none;
  }

  &.active {
    color: $admin-link-color;
  }
}
