.admin-page-header {
  padding: 2rem;
  border-bottom: 1px solid $admin-gray;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;

  h3 {
    display: inline-block;
    vertical-align: middle;
  }

  .admin-button {
    vertical-align: middle;
    margin-left: 1rem;
  }
}

.admin-page-header-title {
}
.admin-page-header-search {
}
