.admin-paginator-row {
  padding-top: $admin-padding-lg;
}

.admin-paginator {
  display: flex;
  flex: nowrap row;
  align-items: center;
  justify-content: center;

  > span {
    margin-left: $admin-padding;
    margin-right: $admin-padding;
    font-weight: bold;
  }

  > button {
    @extend .admin-button;

    background: transparent;
    font-weight: normal;
    line-height: 1;
    font-size: 2rem;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid $admin-gray;
    padding: 0;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-content: center;

    > i {
      font-style: normal;
      height: 12px;
      line-height: 0.25;
    }

    &:disabled
    &.disabled {
      cursor: not-allowed;
      opacity: 0.65;
    }
  }
}
