.admin-resource-list {
  padding: 2rem;
}

.admin-resource-list-table {
  padding: $admin-padding $admin-padding-lg;
  background: #fff;
  border-radius: $admin-border-radius;
  box-shadow: $admin-box-shadow;
}
