.admin-page-header {
  border-bottom: 1px solid $admin-gray;
}

.admin-page-header-title-row {
  padding: $admin-padding-lg $admin-padding-lg 0rem;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;

  h3 {
    display: inline-block;
    vertical-align: middle;
  }

  .admin-button {
    vertical-align: middle;
    margin-left: 1rem;
  }
}

.admin-page-header-breadcrumb-row {
  padding: 0rem 2rem 2rem;
}

.admin-page-header-title {}
.admin-page-header-search {}
