.admin-form {}

.admin-form-actions {
  padding: $admin-padding-lg;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;

  h6 {
    text-transform: capitalize;
    font-weight: bold;
  }
}

.admin-form-content {
  padding: $admin-padding-lg;
}

.admin-form-group {
  label {
    font-weight: bold;
    display: block;
    margin-bottom: $admin-padding-sm;
  }

  input[type=text] {
    min-width: 300px;
  }

  & + & {
    margin-top: $admin-padding;
  }
}
