.admin-page-header {
  margin-bottom: $admin-padding;
}

.admin-page-header-title-row {
  padding: $admin-padding-lg $admin-padding-lg 1rem;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-start;

  h3 {
    display: inline-block;
    vertical-align: middle;
  }

  .admin-button {
    vertical-align: middle;
    margin-left: $admin-padding;
  }
}

.admin-page-header-breadcrumb-row {
  padding: 0rem 2rem 2rem;
}
