<div class='admin-page-header-title-row'>
  <h3>
    {{format-resource-name recordType}}
  </h3>

  {{#link-to
    'admin.model-records.new'
    class='admin-button'
    data-test='button-create'
  }}
    &plus; New {{recordType}}
  {{/link-to}}
</div>

<div class='admin-page-header-breadcrumb-row'>
  {{bread-crumbs
    tagName="ul"
    class='admin-breadcrumb'
    crumbClass='admin-breadcrumb-item'
    linkable=true
  }}
</div>
