<div class='admin-page-header-title'>
  <h3>
    {{format-resource-name recordType}}
  </h3>

  {{#link-to
    'admin.model-records.new'
    class='admin-button'
    data-test='button-create'
  }}
    &plus; New {{recordType}}
  {{/link-to}}
</div>

<div class='admin-page-header-search'>
  {{admin-filter-keyword
    value=filterKeyword
    placeholder=(concat 'Filter by ' recordType)
    onInput=onFilterChange
    data-test='filter-input'
  }}
</div>
