<div class='admin-relationship-header-actions'>
  <div>
    {{#link-to
      'admin.model-records.show.related.new'
      class='admin-button '
      data-test=(concat 'button-create-' recordType)
    }}
      &plus; New {{recordType}}
    {{/link-to}}

    {{#link-to
      'admin.model-records.show.related.add'
      data-test=(concat 'button-add-' recordType)
      class='admin-button'
    }}
      Select from existing
    {{/link-to}}
  </div>
</div>
