$admin-headings-margin: 0.5rem 0 !default;
$admin-headings-font-weight: 600 !default;
$admin-headings-line-height: 1 !default;

$admin-text-size-h1:       36px !default;
$admin-text-size-h2:       28px !default;
$admin-text-size-h3:       24px !default;
$admin-text-size-h4:       20px !default;
$admin-text-size-h5:       16px !default;
$admin-text-size-h6:       14px !default;
