{{#if column.actionsHash.remove}}
  <button type='button' onclick={{action 'remove' model column.parentModel}}>
    Remove
  </button>
{{/if}}

{{#if column.actionsHash.add}}
  <button type='button' onclick={{action 'add' model column.parentModel}}>
    Add
  </button>
{{/if}}
