{{admin-layout/page-header
  recordType=recordType
  filterKeyword=filterKeyword
  onFilterChange=(action 'onFilterChange')
}}

<div class='admin-paginator-row'>
  {{admin-paginator
    updatePage=(action 'updatePage')
    page=page
    pageCount=pageCount
  }}
</div>

{{admin-resource-list
  recordType=recordType
  model=model
  onRowClick=(action 'view')
}}
