<h1>
  Select Relationship
</h1>

{{admin-relationship-select
  model=model
  recordType=recordType
  filterKeyword=filterKeyword
  filter=(action 'onFilterChange')
  add=(action 'add')}}

<br/>
{{outlet}}
