<h1>
  Select Relationship
</h1>

{{admin-relationship-select
  model=model
  parentModel=parentModel
  recordType=recordType
  filterKeyword=filterKeyword
  filter=(action 'onFilterChange')
  add=(action 'add')
}}

<br/>
<button
  type='button'
  onclick={{action 'complete'}}
  data-test='button-done-adding'
  class='admin-button'
>
  Complete
</button>
