<h2>New {{recordType}} for relationship</h2>

{{admin-form
  recordType=recordType
  parentModel=parentModel
  model=model
  save=(action 'save')
  cancel=(action 'cancel')
  onUpdate=(action 'onFieldUpdate')
  dataTest='admin-form-for-relationship'
}}
