<div class="ember-admin">
  {{#fv-grid fluid=true as |grid|}}
    {{#grid.row}}
      {{#grid.column col='lg-2'}}

        <nav class='vertical-nav'>
          <h4>Admin</h4>

          <ul data-test='models-list'>
            {{#each filteredModels as |name|}}
              <li>
                {{link-to name 'model-records' name data-test=(concat 'models-list-item-' name)}}
              </li>
            {{/each}}
          </ul>
        </nav>

      {{/grid.column}}
      {{#grid.column col='lg-10'}}

        {{outlet}}

      {{/grid.column}}
    {{/grid.row}}
  {{/fv-grid}}
</div>
