{{#admin-layout as |layout|}}
  {{#layout.sidebar}}

    <nav class='admin-layout-nav'>
      <h4>Admin</h4>

      <ul data-test='models-list'>
        {{#each filteredModels as |name|}}
          <li>
            {{#link-to
              'admin.model-records'
              name
              data-test=(concat 'models-list-item-' name)
            }}
              {{name}}
            {{/link-to}}
          </li>
        {{/each}}
      </ul>
    </nav>

  {{/layout.sidebar}}
  {{#layout.main}}

    {{outlet}}

  {{/layout.main}}
{{/admin-layout}}
