<ul data-test='models-list'>
  {{#each filteredModels as |name|}}
    <li>
      {{link-to name
        'admin.model-records'
        name
        data-test=(concat 'models-list-item-' name)}}
    </li>
  {{/each}}
</ul>
{{outlet}}
