{{#admin-layout as |layout|}}
  {{#layout.sidebar}}

    <nav class='admin-layout-nav'>
      <h4>Admin</h4>

      <ul data-test='models-list'>
        {{#each filteredModels as |name|}}
          {{admin-layout/nav-link name=name}}
        {{/each}}
      </ul>
    </nav>

  {{/layout.sidebar}}
  {{#layout.main}}

    {{outlet}}

  {{/layout.main}}
{{/admin-layout}}
